# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [21]:
answers['1'] = '2. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#+

In [22]:
data['budget'].max()
data[data['budget']==380000000]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
answers['2'] = '2.Gods and Generals(tt0279111)'
#+

In [7]:
data['runtime'].max()
data[data['runtime']==214]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = '3.Winnie the Pooh(tt1449283)'
#+

In [20]:
data['runtime'].min()
data[data['runtime']==63]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [47]:
answers['4'] = '2.110'
#+

109.6585494970884

In [9]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = '1.107'
#+

In [11]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = '5.Avatar(tt0499549)'
#+

In [12]:
data['profit'].max()
data[data['profit']==2544505847]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '5.The Lone Ranger(tt1210819)'
#+

In [13]:
data['profit'].min()
data[data['profit']==-165710090]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = '1.1478'
#+

In [15]:
data[data['revenue']>data['budget']].count()[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [99]:
answers['9'] = '4.The Dark Knight(tt0468569)'
#+

In [18]:
data[(data.revenue.max()) &(data.release_year==2008)].original_title

599                                      The Dark Knight
600                                              WALLÂ·E
601                                             Iron Man
602                                                Taken
603    Indiana Jones and the Kingdom of the Crystal S...
                             ...
715                                         Smart People
716                                         Nim's Island
717                                                 Igor
718                How to Lose Friends & Alienate People
719                          Welcome Home Roscoe Jenkins
Name: original_title, Length: 121, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5.The Lone Ranger(tt1210819)'
#+

In [23]:
data[(data.release_year >= 2012) & (data.release_year <= 2014) & (data.profit==data.profit.min())]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [24]:
answers['11'] = '3.Drama'
#+

In [112]:
data2=data.copy()
data2.genres.str.split('|').explode().mode()[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = '1.Drama'

In [27]:
profit_genres = data[data['profit']>0] 
profit_genres.genres.str.split('|').explode().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [18]:
answers['13'] = '5.Peter Jackson'
#+

'Peter Jackson'

In [28]:
data = pd.read_csv('movie_bd_v5.csv')
data3 = data.copy()
data3['director'] = data3.director.str.split('|')  
data3 = data3.explode('director')
data3.pivot_table(['revenue'], ['director'], aggfunc='sum', fill_value = 0).nlargest(1, 'revenue').index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [105]:
answers['14'] = '3.Robert Rodriguez'
#+

In [93]:
data14 = data.copy()
data14['director'] = data14.director.str.split('|')
data14 = data14[data14.genres.str.contains('Action',na=False)]
data14.explode('director').groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [111]:
answers['15'] = '3.Chris Hemsworth'
#+

'Chris Hemsworth'

In [ ]:
data2 = data.copy()
data2 = data2[data2.release_year == 2012]  # отдеяем фильмы за 2012
data2['cast'] = data2['cast'].str.split('|')  # разделяем актеров
data2 = data2.explode('cast')
data2.pivot_table(['revenue'], ['cast'], aggfunc='sum', fill_value = 0).nlargest(1, 'revenue').index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [158]:
answers['16'] = '3.Matt Damon'
#+

'Matt Damon'

In [29]:
data[data.budget>data.budget.mean()].cast.str.split('|').explode().mode()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [149]:
answers['17'] = '3.Action'

0    Action|Crime|Thriller
1     Crime|Drama|Thriller
dtype: object

In [ ]:
data7=data.copy()
data7[data7.cast.str.contains("Nicolas Cage")].genres.mode()

# 18. Самый убыточный фильм от Paramount Pictures

In [33]:
answers['18'] = '1.K-19: The Widowmaker (tt0267626)'
#+

In [35]:
data60=data[data['production_companies'] == 'Paramount Pictures'] [['original_title','profit']].sort_values('profit')
data60

KeyError: "['profit'] not in index"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [38]:
answers['19'] = '5.2015'

In [45]:
data14 = data.copy()
data14.explode('release_year').groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [55]:
answers['20'] = '1.2014'
#+

In [46]:
data21 = data.copy()
data['profit']=data['revenue']-data['budget']
data21.production_companies = data21.production_companies.str.split('|')
data21 = data21.explode('production_companies')
data21 = data21[(data21.production_companies.str.contains ('Warner Bros.'))]
data21 = data21.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
data21

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [9]:
answers['21'] = '4.Сентябрь'
#+

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [ ]:
data.release_date = pd.to_datetime(data.release_date)
data.release_date
data['release_month'] = data.release_date.dt.month
data.release_date.dt.month.value_counts()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [74]:
answers['22'] = '2.450'
#+

NameError: name 'answers' is not defined

In [47]:
df2 = data[['imdb_id', 'release_date', ]].copy().set_index('imdb_id')
df2.release_date = df2['release_date'].str.split('/', expand=True)
df2.rename(columns={"release_date": "month", }, inplace=True)
df3 = df2.loc[df2['month'].isin(['6', '7', '8'])]
print(pd.pivot_table(df3, index='imdb_id', aggfunc='sum',margins=True))

          month
imdb_id
tt0120630     6
tt0120667     7
tt0120679     8
tt0120903     7
tt0120912     7
...         ...
tt3622592     7
tt3623726     7
tt3787590     8
tt4178092     7
All         inf

[451 rows x 1 columns]

# 23. Для какого режиссера зима – самое продуктивное время года?

In [22]:
answers['23'] = '5.Peter Jackson'
#+

               month
director
Peter Jackson      7

In [23]:
df2 = data[['imdb_id', 'release_date', 'director']].copy().set_index('imdb_id')
df2.director = df2.director.str.split('|')
df3 = df2.explode('director')
df3.release_date = df3['release_date'].str.split('/', expand=True)
df3.rename(columns={"release_date": "month", "director": "director"}, inplace=True)
df4 = df3.loc[df3['month'].isin(['12', '1', '2'])]
print(pd.pivot_table(df4, index='director', aggfunc='count').nlargest(1, 'month'))

               month
director
Peter Jackson      7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [48]:
answers['24'] = '5.Four By Two Productions'

'Four By Two Productions'

In [ ]:
original_title = data.copy()
original_title['original_title_length'] = original_title['original_title'].str.split(' ').str.len()
original_title.production_companies = original_title.production_companies.str.split('|')
original_title = original_title.explode('production_companies')
res_26 = original_title.groupby('production_companies')['original_title_length'].max().idxmax()
res_26

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
answers['25'] = '3.Midnight Picture Show'
#+

'Midnight Picture Show'

In [ ]:
overview = data.copy()
overview['overview_length'] = overview['overview'].str.split(' ').str.len()
overview.production_companies = overview.production_companies.str.split('|')
overview = overview.explode('production_companies')
res_25 = overview.groupby('production_companies')['overview_length'].mean().idxmax()
res_25

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [113]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'
#+

In [51]:
data26 = data.copy()
procent_99 = np.percentile(data26.vote_average, 99)
data26[data26.vote_average >= procent_99].sort_values(
    by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27.Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5.Daniel Radcliffe & Rupert Grint'
#+

In [50]:
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(it.combinations(x, 2))) 
cast_pairs.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

In [54]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'3': '3.Winnie the Pooh(tt1449283)',
 '5': '1.107',
 '8': '1.1478',
 '6': '5.Avatar(tt0499549)',
 '1': '2. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '11': '3.Drama',
 '10': '5.The Lone Ranger(tt1210819)',
 '12': '1.Drama',
 '18': '1.K-19: The Widowmaker (tt0267626)',
 '19': '5.2015'}

In [53]:
# и убедиться что ни чего не пропустил)
len(answers)

10